{% extends 'base.html' %}
{% load static %}


{% block title %}
    Orders Dashboard
{% endblock title %}

{% block content %}

<!-- handlebars template -->
<script id="incoming_order" type="text/x-handlebars-template">
    {% verbatim %}
    <tr class="order-{{ pk }}">
        <td>{{ pk }}</td>
        <td>{{ time }}</td>
        <td>{{ customer_name }}</td>
        <td>{{ payment_type }}</td>
        <td>
            <ul class="orderitem-list">
                {{#each order_items}}
                    <li>{{this}} x {{@key}}</li>
                {{/each}}
            </ul>
        </td>
        <td>${{ tip }}</td>
        <td>${{ total }}</td>
        <td class="text-center"><a href="#" class="choice-btn decline-btn js-incoming-order-decline-btn" data-orderpk="{{ pk }}"><i class="fa fa-times-circle"></i></a></td>
        <td class="text-center"><a href="#" class="choice-btn accept-btn js-accept-modal-btn" data-orderpk="{{ pk }}"><i class="fa fa-check-circle"></i></a></td>
    </tr>
    {% endverbatim %}
</script>

<!-- handlebars template -->
<script id="recently_completed_order" type="text/x-handlebars-template">
    {% verbatim %}
    <tr class="order-{{ pk }}">
        <td>{{ pk }}</td>
        <td>{{ customer_name }}</td>
        <td>${{ total }}</td>
        <td>{{ time_taken }}</td>
    </tr>
    {% endverbatim %}
</script>

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>Orders in Progress</h2>
                <table class="table table-striped js-orders-in-progress">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Customer</th>
                            <th>Payment Type</th>
                            <th>Order</th>
                            <th>Tip</th>
                            <th>Total</th>
                            <th>Cancel</th>
                            <th>Completed</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in orders_in_progress %}
                        <tr class="order-{{ order.pk }}">
                            <td>{{ order.pk }}</td>
                            <td>{{ order.time|date:"m/d g:i a" }}</td>
                            <td>{{ order.customer.full_name }}</td>
                            <td>{{ order.payment_type }}</td>
                            <td><ul class="orderitem-list">{% for order_item in order.orderitem_set.all %}
                                <li>{{ order_item.quantity }} x {{ order_item.item.name }}</li>
                            {% endfor %}
                            </ul></td>
                            <td>${{ order.tip }}</td>
                            <td>${{ order.total }}</td>
                            <td class="text-center"><a href="#" class="choice-btn decline-btn js-accepted-order-cancel-btn" data-orderpk="{{ order.pk }}"><i class="fa fa-times-circle"></i></a></td>
                            <td class="text-center"><a href="#" class="choice-btn accept-btn js-order-complete-btn" data-orderpk="{{ order.pk }}"><i class="fa fa-check-circle"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col-md-12">
                <h2>Incoming Orders</h2>
                <table class="table table-striped js-incoming-orders">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Time</th>
                            <th>Customer</th>
                            <th>Payment Type</th>
                            <th>Order</th>
                            <th>Tip</th>
                            <th>Total</th>
                            <th>Decline</th>
                            <th>Accept</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for order in incoming_orders %}
                        <tr class="order-{{ order.pk }}">
                            <td>{{ order.pk }}
                            <td>{{ order.time|date:"m/d g:i a" }}</td>
                            <td>{{ order.customer.full_name }}</td>
                            <td>{{ order.payment_type }}</td>
                            <td><ul class="orderitem-list">{% for order_item in order.orderitem_set.all %}
                                <li>{{ order_item.quantity }} x {{ order_item.item.name }}</li>
                            {% endfor %}
                            </ul></td>
                            <td>${{ order.tip }}</td>
                            <td>${{ order.total }}</td>
                            <td class="text-center"><a href="#" class="choice-btn decline-btn js-incoming-order-decline-btn" data-orderpk="{{ order.pk }}"><i class="fa fa-times-circle"></i></a></td>
                            <td class="text-center"><a href="#" class="choice-btn accept-btn js-accept-modal-btn" data-orderpk="{{ order.pk }}"><i class="fa fa-check-circle"></i></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.col -->

    <div class="col-md-4">
        <h2>Recently Completed</h2>
        <table class="table table-striped js-recently-completed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Total</th>
                    <th>Time to Complete</th>
                </tr>
            </thead>
            <tbody>
                {% for order in recently_completed_orders %}
                    <tr>
                        <td>{{ order.pk }}</td>
                        <td>{{ order.customer.full_name }}</td>
                        <td>${{ order.total }}</td>
                        <td>{{ order.time_to_complete }}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </div><!-- /.col -->
</div><!-- /.row -->


<!-- post-accept modal -->
<div class="modal fade" id="accept_modal" tabindex="-1" role="dialog" aria-labelledby="accept_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="accept_modal_label">How long will this order take?</h4>
      </div>


        <div class="modal-body">
          <div>
            <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="2">2</a> <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="5">5</a> <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="10">10</a> <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="15">15</a> <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="20">20</a> <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="25">25</a> <a href="#" class="btn btn-primary js-minutes-btn" data-minutes="30">30</a>
          </div>
          <div>
            
            <div class="input-group other-field">
              <input type="number" class="form-control" placeholder="Other # of minutes...">
              <span class="input-group-btn">
                <button class="btn btn-primary js-minutes-other-btn" type="button">Other</button>
              </span>
            </div><!-- /input-group -->
          </div>


          <div class="form-errors"></div>

        </div>

      </div>
    </div>
  </div>



<!-- post-accept modal -->
<div class="modal fade" id="cancel_modal" tabindex="-1" role="dialog" aria-labelledby="cancel_modal_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="cancel_modal_label">Reason for cancellation:</h4>
      </div>


        <div class="modal-body">



        <form role="form">
            <div class="form-group">
                <label for="reasonForCancellation">Reason for cancellation:</label>
                <textarea class="js-cancellation-reason form-control cancellation-reason-field" id="reasonForCancellation" placeholder="Optional..."></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-danger js-cancellation-send-btn" type="button">Cancel Order</button>
            </div>
        
        </form>


          <div class="form-errors"></div>

        </div>

      </div>
    </div>
  </div>

<script>

$accept_modal = $('#accept_modal');
$cancel_modal = $('#cancel_modal');
$cancellation_message = $('.js-cancellation-reason');
$form_errors = $('.form-errors');
$minutes_other = $('.other-field input');
$minutes_other_btn = $('.js-minutes-other-btn');
$incoming_orders = $('.js-incoming-orders');
$orders_in_progress = $('.js-orders-in-progress');
$recently_completed_orders = $('.js-recently-completed');

$(document).on('click', '.js-accept-modal-btn', function(){
    $this = $(this);
    var orderpk = $this.data('orderpk');
    $minutes_other_btn.data('orderpk', orderpk);
    $form_errors.html();
    $accept_modal.modal('show');
    return false;
});

$(document).on('click', '.js-minutes-other-btn', function(){
    $form_errors.html('');
    var minutes_estimate = parseInt($minutes_other.val());
    var orderpk = $this.data('orderpk');
    if (!minutes_estimate)
    {
        $form_errors.html('<p class="alert alert-danger">A positive integer is required.</p>');
        return false;
    }

    acceptOrder(orderpk, minutes_estimate);
});

$(document).on('click', '.js-minutes-btn', function(){
    $this = $(this);
    $form_errors.html('');
    var minutes_estimate = parseInt($this.data('minutes'));
    var orderpk = $minutes_other_btn.data('orderpk');
    if (!minutes_estimate)
    {
        $form_errors.html('<p class="alert alert-danger">A positive integer is required.</p>');
        return false;
    }

    acceptOrder(orderpk, minutes_estimate);
});

function acceptOrder(orderpk, minutes_estimate)
{
    $.ajax({
      type: "POST",
      url: "{% url 'dashboard:accept-order' %}",
      data: {'order': orderpk, 'minutes_estimate': minutes_estimate},
      success: function(data) {
        if (data['status'] == 'success')
        {
            $row = $incoming_orders.find('tbody tr.order-' + orderpk);
            $row.find('.js-accept-modal-btn').removeClass('js-accept-modal-btn').addClass('js-order-complete-btn');
            $row.find('.js-incoming-order-decline-btn').removeClass('js-incoming-order-decline-btn').addClass('js-accepted-order-cancel-btn');
            $orders_in_progress.append($row);

            $minutes_other.val('');
            $accept_modal.modal('hide');
            return true;
        }
        else
        {
            if (data.errors.minutes_estimate)
            {
                $form_errors.html('<p class="alert alert-danger">A positive integer is required.</p>');
                return false;
            }
            else
            {
                $accept_modal.modal('hide');
                sweetAlert("Oops...", "Something went wrong!", "error");
                console.log(data);
                return false;
            }
        }
      },
      error: function(data) {
        $accept_modal.modal('hide');
        sweetAlert("Oops...", "Something went wrong!", "error");
        console.log(data);
        return true;
      },
    });
    return false;
}

$(document).on('click', '.js-accepted-order-cancel-btn', function(){
    $this = $(this);
    var orderpk = $this.data('orderpk');
    swal({
        title: "Are you sure?",
        text: "Are you sure you want to cancel this order?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#f0ad4e",
        confirmButtonText: "Yes, cancel order",
        closeOnConfirm: true,
        allowOutsideClick: true 
    },
    function(isConfirm){   
        if (isConfirm)
        {
            $cancel_modal.find('.js-cancellation-send-btn').data('cancellation-type', 'cancel');
            $cancel_modal.find('.js-cancellation-send-btn').data('cancellation-orderpk', orderpk);
            $cancellation_message.html('');
            $cancel_modal.modal('show');
        }
    });
});

$(document).on('click', '.js-incoming-order-decline-btn', function(){
    $this = $(this);
    var orderpk = $this.data('orderpk');
    swal({
        title: "Are you sure?",
        text: "Are you sure you want to decline this order?",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#f0ad4e",
        confirmButtonText: "Yes, decline order",
        closeOnConfirm: true,
        allowOutsideClick: true 
    },
    function(isConfirm){   
        if (isConfirm) {
            $cancel_modal.find('.js-cancellation-send-btn').data('cancellation-type', 'decline');
            $cancel_modal.find('.js-cancellation-send-btn').data('cancellation-orderpk', orderpk);
            $cancellation_message.html();
            $cancel_modal.modal('show');
        }
    });
});

$('.js-cancellation-send-btn').on('click', function(e){
    e.preventDefault();
    var cancel_url = "{% url 'dashboard:cancel-order-cancel' %}";
    var decline_url = "{% url 'dashboard:cancel-order-decline' %}";
    $this = $(this);
    var type = $this.data('cancellation-type');
    var orderpk = $this.data('cancellation-orderpk');
    var url = (type == 'cancel') ? cancel_url : decline_url;
    var success = false;
    $.ajax({
        type: "POST",
        url: url,
        data: {'order': orderpk, 'cancellation_reason': $cancellation_message.val()},
        success: function(data) {
          if (data['status'] == 'success')
          {
              $cancel_modal.modal('hide');
                if (type == 'cancel')
                {
                    $orders_in_progress.find('tbody tr.order-' + orderpk).remove();
                }
                else
                {
                    $incoming_orders.find('tbody tr.order-' + orderpk).remove();
                }
          }
          else
          {
            $cancel_modal.modal('hide');
              sweetAlert("Oops...", "Something went wrong!", "error");
              return false;
          }
        },
        error: function(data) {
            $cancel_modal.modal('hide');
          sweetAlert("Oops...", "Something went wrong!", "error");
          console.log(data);
          return true;
        },
    });

    return false;

});



var recently_completed_source   = $("#recently_completed_order").html();
var recently_completed_template = Handlebars.compile(recently_completed_source);

$(document).on('click', '.js-order-complete-btn', function(){
    $this = $(this);
    var orderpk = $this.data('orderpk');
    $.ajax({
      type: "POST",
      url: "{% url 'dashboard:complete-order' %}",
      data: {'order': orderpk},
      success: function(data) {
        if (data['status'] == 'success')
        {
            $row = $orders_in_progress.find('tbody tr.order-' + orderpk);
            swal({
                title: "Success!",
                text: "Order completed.",
                type: "success",
                timer: 1000,
            });
            $row.remove();

            context = {
                'pk': data.pk,
                'customer_name': data.customer_name,
                'total': data.total,
                'time_taken': data.time_taken,
            };
            html = recently_completed_template(context);
            $recently_completed_orders.find('tbody').prepend(html);


        }
        else
        {
            sweetAlert("Oops...", "Something went wrong!", "error");
            return false;
        }
      },
      error: function(data) {
        sweetAlert("Oops...", "Something went wrong!", "error");
        return true;
      },
    });
});

var loaded = [{% for order in incoming_orders %}{{ order.pk }},{% endfor %}];
var incoming_template_source   = $("#incoming_order").html();
var incoming_order_template = Handlebars.compile(incoming_template_source);

function add_order(order)
{
    loaded.push(order.pk);
    context = {
        'pk': order.pk,
        'customer_name': order.customer_name,
        'payment_type': order.payment_type,
        'order_items': order.order_items,
        'tip': order.tip,
        'total': order.total,
        'time': order.time,
    };
    html = incoming_order_template(context);
    $incoming_orders.find('tbody').append(html);
}

(function poll() {
    setTimeout(function() {
        var payload = {'loaded': JSON.stringify(loaded, null, 2)};
        $.ajax({
            url: "{% url 'dashboard:poll' %}",
            data: payload,
            method: 'POST',
            success: function(data) {
                var orders = data.orders;
                if (orders)
                {
                    for (var i in orders)
                    {
                        add_order(orders[i]);
                    }
                }
                poll();
            }, 
            error: function(data){
                sweetAlert("Oops...", "Something's wrong! Please refresh.", "error");
            },
            dataType: "json", 
        });
    }, 3000);
})();

</script>

<style>
.minutes-btns
{
    margin-bottom:15px;
}

.other-field
{
    margin-top:10px;
}

</style>
{% endblock content %}