{% extends 'base.html' %}

{% block title %}
    Order
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-8">
        <h2>Menu</h2>
        {% if object_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in object_list %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.description }}</td>
                            <td>${{ item.price }}</td>
                            <td><a href="#" class="js-add-item" data-pk="{{ item.pk }}" data-name="{{ item.name }}" data-price="{{ item.price }}">Add to Order</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-danger">Sorry, the menu is currently empty :(.</div>
        {% endif %}
    </div>

    <div class="col-sm-4">
        <h2>Your Order</h2>
        <table class="table table-striped js-order-table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="extras hidden">
        <form method="POST" id="order_form" action="/order/submit/">
            {% csrf_token %}
            <input type="hidden" name="data" class="js-data" value="">
        </form>
        <form id="order_form_display">
            <div class="line-wrapper">
                <strong>Subtotal: </strong><span class="subtotal">$0.00</span>
            </div>
            <div class="form-group">
                <label for="js-tip">Tip:</label>
                <input type="text" id="js-tip" placeholder="0.00">
                <div class="tip-btns">
                    <a href="#" class="btn btn-primary" data-percentage="10">10%</a> <a href="#" class="btn btn-primary" data-percentage="15">15%</a> <a href="#" class="btn btn-primary" data-percentage="20">20%</a>
                </div>
            </div>
            <div class="line-wrapper">
                <strong>Total: </strong><span class="total">$0.00</span>
            </div>
            <div class="form-group">
                <label for="js-first">First Name:</label>
                <input type="text" class="form-control" id="js-first" name="first" placeholder="First Name..." required>
            </div>
            <div class="form-group">
                <label for="js-last">Last Name:</label>
                <input type="text" class="form-control" id="js-last" name="last" placeholder="Last Name..."  required>
            </div>
            <div class="form-group">
                <label for="js-phone">Phone Number:</label>
                <input type="text" class="form-control" id="js-phone" name="phone" placeholder="Phone Number..." required>
            </div>
            <div class="form-group">
                <label for="js-cc">Crimson Cash Number:</label>
                <input type="text" class="form-control" id="js-cc" name="crimsoncash" placeholder="60641101..." required>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" id="order_submit_btn">Submit Order</button>
            </div>
        </form>
        </div>
    </div>
</div>
<script>
var $order_table = $('.js-order-table');
var items_in_order = [];
var $order_form = $('#order_form');
var $order_form_display = $('#order_form_display');

$(document).ready(function() {
    $order_form_display.bootstrapValidator({
        message: 'This value is not valid',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first: {
                message: 'First name is not valid',
                validators: {
                    notEmpty: {
                        message: 'First name is required and cannot be empty'
                    },
                }
            },
            last: {
                message: 'Last name is not valid',
                validators: {
                    notEmpty: {
                        message: 'Last name is required and cannot be empty'
                    },
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Phone number is required and cannot be empty'
                    },
                    phone: {
                        message: 'The input is not a valid phone number',
                        country: 'US',
                    }
                }
            },
            crimsoncash: {
                message: 'Crimson Cash number is not valid',
                validators: {
                    notEmpty: {
                        message: 'Crimson Cash number is required and cannot be empty'
                    },
                    digits: {
                        message: 'Crimson Cash numbers can contain only digits'
                    },
                }
            },
        }
    });
});

$('.js-add-item').on('click', function(){
    var $this = $(this);
    var pk = $this.data('pk');
    var name = $this.data('name');
    var price = $this.data('price');

    if ($.inArray(pk, items_in_order) === -1)
    {
        // add item to order table
        $('.js-order-table tbody').append('<tr class="js-item-' + pk + '" data-pk="' + pk + '" data-quantity="1"><td>' + name + '</td><td>$' + price + '</td><td><input type="text" class="quantity js-quantity" value="1" maxlength="2" data-itempk="' + pk + '" data-price="' + price + '" /></td><td><a href="#" class="js-remove-item" data-pk="' + pk + '">Remove</a></td></tr>');
        items_in_order.push(pk);      
    }
    else
    {
        // increase quantity by 1
        var $row = $('.js-order-table tbody .js-item-' + pk);
        var $quantity_input = $row.find('.js-quantity')
        var quantity = parseInt($quantity_input.val());
        quantity++;
        $row.data('quantity', quantity);
        $quantity_input.val(quantity);
    }
    $('.extras').removeClass('hidden');
    updateSubtotal();
    return false;
});

$('.js-order-table').on('click', '.js-remove-item', function(){
    var $this = $(this);
    var pk = $this.data('pk');
    var $row = $('.js-order-table tbody .js-item-' + pk).remove();
    items_in_order.pop(pk);
    if (items_in_order.length == 0)
    {  
        $('.extras').addClass('hidden');
    }

    return false;
});

function submit_order_form() {
    $order_form_display.data('bootstrapValidator').validate();
    if (!$order_form_display.data('bootstrapValidator').isValid())
    {
        return false;

    }
    var items = {};
    $('.js-order-table tbody tr').each(function(){
        $row = $(this);
        var $quantity_input = $row.find('.js-quantity')
        var quantity = parseInt($quantity_input.val());
        var pk = $row.data('pk');
        items[pk] = quantity;
    });
    var tip = parseFloat($('#js-tip').val());
    if (!tip)
    {
        tip = 0;
    }

    var first_name = $('#js-first').val();
    var last_name = $('#js-last').val();
    var phone_number = $('#js-phone').val();
    var crimsoncash = $('#js-cc').val();

    var data = {
        'tip': tip,
        'first_name': first_name,
        'last_name': last_name,
        'phone_number': phone_number,
        'items': items,
        'crimsoncash': crimsoncash,
    };

    /*
    $order_form.find('.js-data').val(JSON.stringify(data, null, 2));
    $order_form.submit();
    return false;
    */
    $.ajax({
      type: "POST",
      url: '/order/submit/',
      data: {'data': JSON.stringify(data, null, 2)},
      success: function(data) {
        if (data['status'] == 'success')
        {
            sweetAlert("Success!", "Your order has been submitted! You should receive a text shortly confirming your order's status.", "success");
            window.setTimeout(function(){
                window.location.href = "/order/track/" + data['key'] + "/";
            }, 2000);
        }
        else
        {
            sweetAlert("Oops...", "Something went wrong!", "error");
        }
      },
      error: function(data) {
        sweetAlert("Oops...", "Something went wrong!", "error");
      },
    });
}
$order_form_display.find('input').keypress(function(e) {
if (e.which == '13') {
        e.preventDefault();
        submit_order_form();
        return false;
   }
});

$('#order_submit_btn').on('click', function(e){
    e.preventDefault();
    submit_order_form();
    return false;
});

$order_form_display.on('submit', function(e){
    e.preventDefault();
    return false;
});

function calculateSubtotal()
{
    $quantity = $('.js-quantity');
    var subtotal = 0;
    $quantity.each(function(i){
        $this_quantity = $(this);
        var price = parseFloat($this_quantity.data('price'));
        var quantity = parseInt($this_quantity.val());
        subtotal += quantity * price;
    });
    return subtotal
}

function updateSubtotal()
{
    $('.subtotal').html('$' + calculateSubtotal().toFixed(2));
    updateTotal();
}

function calculateTotal()
{
    var subtotal = calculateSubtotal();
    var tip = parseFloat($('#js-tip').val());
    if (!tip)
    {
        tip = 0;
    }
    return subtotal + tip
}

function updateTotal()
{
    $('.total').html('$' + calculateTotal().toFixed(2));
}

$('.tip-btns a').on('click', function(){
    $this = $(this);
    var subtotal = calculateSubtotal();
    var percentage = parseFloat($this.data('percentage')) / 100;
    var tip = (percentage * subtotal).toFixed(2);
    $('#js-tip').val(tip);
    updateTotal();
    return false;
});

$(document).on('change', '.js-quantity', updateSubtotal);
$(document).on('change', '#js-tip', updateTotal);

</script>

<style>
.line-wrapper
{
    margin-bottom:10px;
}
</style>
{% endblock content %}